Data types and Structures

1. What are data structures, and why are they important?
 -  Data structures are ways to organize and store data in a computer so that it can be accessed and modified efficiently. They are essential for managing large amounts of data and performing complex operations.
 Some common data structures include arrays, linked lists, stacks, queues, trees, and graphs. Each has its own strengths and weaknesses, and the choice of data structure depends on the specific requirements of the task at hand

2. Explain the difference between mutable and immutable data types with examples?
 -  Mutable data types are those whose values can be modified after they are created. This means you can change, add, or remove elements without creating a new object

 Examples=

 Lists: You can add, remove, or change elements in a list.


 my_list = [1, 2, 3]
 my_list.append(4)  # my_list is now [1, 2, 3, 4]
 my_list[0] = 0    # my_list is now [0, 2, 3, 4]

 Dictionaries: You can add, remove, or change key-value pairs in a dictionary.


my_dict = {'a': 1, 'b': 2}
my_dict['c'] = 3  # my_dict is now {'a': 1, 'b': 2, 'c': 3}
my_dict['a'] = 0  # my_dict is

Immutable data types are those whose values cannot be changed after they are created. Any modification results in the creation of a new object

Examples=

Tuples: Once a tuple is created, its elements cannot be changed.


my_tuple = (1, 2, 3)
# my_tuple[0] = 0  # This will raise a TypeError

Strings: Strings are immutable, so any modification creates a new string.


my_string = "hello"
new_string = my_string.replace('h', 'j')  

3. What are the main differences between lists and tuples in Python?
 - List=
  
  Mutable: Lists can be modified after creation. You can add, remove, or change elements.
  
  Dynamic Size: Lists can grow or shrink in size as needed.
  
  Performance: Lists are generally slower than tuples because of their dynamic nature.
  
  Syntax: Lists are defined using square brackets [].

  Tuples=
  
  Immutable: Tuples cannot be modified after creation. Any attempt to change an element will result in an error.
  
  Fixed Size: Once a tuple is created, its size cannot change.
  
  Performance: Tuples are generally faster than lists because of their immutability.
  
  Syntax: Tuples are defined using parentheses ()

4. Describe how dictionaries store data.
 -  Dictionaries in Python store data as key-value pairs, where each key is unique and maps to a specific value

5. Why might you use a set instead of a list in Python?
 - Using a set instead of a list in Python can be beneficial in certain scenarios due to the unique properties of sets.

 sets are ideal when you need to ensure uniqueness, perform fast membership tests, or utilize set operations. Lists, on the other hand, are more flexible and allow for ordered collections with duplicate elements.

6. What is a string in Python, and how is it different from a list?
 -  Strings are immutable sequences of characters, while lists are mutable collections of items that can be of any data type. This distinction affects how you can manipulate and use them in your programs

7. How do tuples ensure data integrity in Python?
 -  Tuples ensure data integrity in Python through their immutability. Once a tuple is created, its elements cannot be changed, added, or removed

8. What is a hash table, and how does it relate to dictionaries in Python?
 -  A hash table is a data structure that stores key-value pairs and allows for efficient data retrieval. It uses a hash function to compute an index (or hash code) into an array of buckets or slots, from which the desired value can be found.

  hash tables provide the underlying mechanism for dictionaries in Python, enabling fast and efficient storage and retrieval of key-value pairs

9. Can lists contain different data types in Python?
 -   Yes, lists in Python can contain elements of different data types. This flexibility allows you to store a variety of data types within a single list, including integers, floats, strings, other lists, dictionaries, and even custom objects

10. Explain why strings are immutable in Python.
 - Strings in Python are immutable, meaning their values cannot be changed after they are created

11. What advantages do dictionaries offer over lists for certain tasks?
 - Dictionaries are ideal for tasks that require fast lookups, unique keys, and meaningful data organization. They offer a more efficient and flexible way to manage data compared to lists, especially when dealing with large datasets or complex data structures

12. Describe a scenario where using a tuple would be preferable over a list.
 - Using a tuple would be preferable over a list in scenarios where you need to ensure that the data remains constant and unchangeable

13. How do sets handle duplicate values in Python?
 - Sets automatically handle duplicate values by ensuring that each element is unique. When you add elements to a set, any duplicates are automatically removed. This is because sets are implemented using a hash table, which inherently enforces uniqueness

14. How does the “in” keyword work differently for lists and dictionaries?
 - For lists, the in keyword checks if a specific element is present in the list. It iterates through the list and returns True if it finds the element, otherwise it returns False
  
   For dictionaries, the in keyword checks if a specific key is present in the dictionary. It does not check the values, only the keys

15. Can you modify the elements of a tuple? Explain why or why not.
 - No, you cannot modify the elements of a tuple in Python. This is because tuples are immutable, meaning their values cannot be changed after they are created

16. What is a nested dictionary, and give an example of its use case?
 - A nested dictionary in Python is a dictionary within a dictionary. This allows you to store complex data structures in a hierarchical manner. Each key in the outer dictionary maps to another dictionary, which can contain its own key-value pairs.
 Example=
 students = {
    'Alice': {'age': 25, 'major': 'Physics'},
    'Bob': {'age': 22, 'major': 'Mathematics'},
    'Charlie': {'age': 23, 'major': 'Computer Science'}
 }

17. Describe the time complexity of accessing elements in a dictionary
 - Accessing elements in a dictionary in Python is highly efficient due to its underlying hash table implementation. The average time complexity for accessing elements in a dictionary is O(1), which means it takes constant time regardless of the number of elements in the dictionary

18. In what situations are lists preferred over dictionaries?
 - lists are preferred when you need ordered, sequential access to homogeneous data in a simple and memory-efficient manner. They are ideal for tasks that involve iterating through elements, maintaining order, and working with collections of similar items

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
 - Dictionaries in Python are considered unordered because they do not maintain any specific order for the key-value pairs. The order in which items are added to the dictionary is not necessarily the order in which they are stored or retrieved. This unordered nature is due to the underlying hash table implementation, which focuses on efficient data retrieval rather than maintaining order

20.  Explain the difference between a list and a dictionary in terms of data retrieval.
 - The main difference between a list and a dictionary in terms of data retrieval lies in how you access the elements and the efficiency of the retrieval process.

 Lists are accessed by their position (index), while dictionaries are accessed by their keys. Lists are suitable for ordered collections and sequential access, whereas dictionaries are ideal for fast lookups and key-value pair storage

In [3]:
#1 Write a code to create a string with your name and print it

my_name = "Prajwal"


print(my_name)

Prajwal

In [4]:
#2 Write a code to find the length of the string "Hello World"

my_string = "Hello World"

length = len(my_string)

print(length)

11

In [5]:
#3 Write a code to slice the first 3 characters from the string "Python Programming"

my_string = "Python Programming"

sliced_string = my_string[:3]

print(sliced_string)

Pyt

In [7]:
#4 Write a code to convert the string "hello" to uppercase

my_string = "hello"

uppercase_string = my_string.upper()

print(uppercase_string)

HELLO

In [8]:
#5 Write a code to replace the word "apple" with "orange" in the string "I like apple"

my_string = "I like apple"

new_string = my_string.replace("apple", "orange")

print(new_string)

I like orange

In [9]:
#6 Write a code to create a list with numbers 1 to 5 and print it
# Create a list with numbers 1 to 5
my_list = [1, 2, 3, 4, 5]

# Print the list
print(my_list)

[1, 2, 3, 4, 5]

In [10]:
#7 Write a code to append the number 10 to the list [1, 2, 3, 4]
# Create the list
my_list = [1, 2, 3, 4]

# Append the number 10 to the list
my_list.append(10)

# Print the updated list
print(my_list)

[1, 2, 3, 4, 10]

In [11]:
#8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
# Create the list
my_list = [1, 2, 3, 4, 5]

# Remove the number 3 from the list
my_list.remove(3)

# Print the updated list
print(my_list)

[1, 2, 4, 5]

In [12]:
#9 Write a code to access the second element in the list ['a', 'b', 'c', 'd']
# Create the list
my_list = ['a', 'b', 'c', 'd']

# Access the second element (index 1)
second_element = my_list[1]

# Print the second element
print(second_element)

b

In [13]:
#10 Write a code to reverse the list [10, 20, 30, 40, 50]
# Create the list
my_list = [10, 20, 30, 40, 50]

# Reverse the list
reversed_list = my_list[::-1]

# Print the reversed list
print(reversed_list)

[50, 40, 30, 20, 10]

In [14]:
#11 Write a code to create a tuple with the elements 100, 200, 300 and print it
# Create a tuple with the elements 100, 200, 300
my_tuple = (100, 200, 300)

# Print the tuple
print(my_tuple)

(100, 200, 300)

In [15]:
#12 Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
# Create the tuple
my_tuple = ('red', 'green', 'blue', 'yellow')

# Access the second-to-last element
second_to_last_element = my_tuple[-2]

# Print the second-to-last element
print(second_to_last_element)

blue

In [16]:
#13 Write a code to find the minimum number in the tuple (10, 20, 5, 15).
# Create the tuple
my_tuple = (10, 20, 5, 15)

# Find the minimum number in the tuple
min_number = min(my_tuple)

# Print the minimum number
print(min_number)

5

In [17]:
#14 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
# Create the tuple
my_tuple = ('dog', 'cat', 'rabbit')

# Find the index of the element "cat"
index_of_cat = my_tuple.index('cat')

# Print the index
print(index_of_cat)

1

In [18]:
#15 Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
# Create a tuple with three different fruits
fruits = ("apple", "banana", "cherry")

# Check if "kiwi" is in the tuple
is_kiwi_present = "kiwi" in fruits

# Print the result
print(is_kiwi_present)

False

In [19]:
#16 Write a code to create a set with the elements 'a', 'b', 'c' and print it
# Create a set with the elements 'a', 'b', 'c'
my_set = {'a', 'b', 'c'}

# Print the set
print(my_set)

{'b', 'a', 'c'}

In [20]:
#17 Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
# Create the set
my_set = {1, 2, 3, 4, 5}

# Clear all elements from the set
my_set.clear()

# Print the cleared set
print(my_set)

set()

In [21]:
#18 Write a code to remove the element 4 from the set {1, 2, 3, 4}.
# Create the set
my_set = {1, 2, 3, 4}

# Remove the element 4 from the set
my_set.remove(4)

# Print the updated set
print(my_set)

{1, 2, 3}

In [22]:
#19 Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
# Create the sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Find the union of the two sets
union_set = set1.union(set2)

# Print the union set
print(union_set)

{1, 2, 3, 4, 5}

In [23]:
#20 Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
# Create the sets
set1 = {1, 2, 3}
set2 = {2, 3, 4}

# Find the intersection of the two sets
intersection_set = set1.intersection(set2)

# Print the intersection set
print(intersection_set)

{2, 3}

In [24]:
#21 Write a code to create a dictionary with the keys "name", "age", and "city", and print it
# Create a dictionary with the keys "name", "age", and "city"
my_dict = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}

# Print the dictionary
print(my_dict)

{'name': 'Alice', 'age': 30, 'city': 'New York'}

In [25]:
#22 Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
# Create the dictionary
my_dict = {'name': 'John', 'age': 25}

# Add the new key-value pair
my_dict['country'] = 'USA'

# Print the updated dictionary
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [26]:
#23 Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
# Create the dictionary
my_dict = {'name': 'Alice', 'age': 30}

# Access the value associated with the key "name"
name_value = my_dict['name']

# Print the value
print(name_value)

Alice

In [27]:
#24 Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
# Create the dictionary
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}

# Remove the key "age" from the dictionary
my_dict.pop('age')

# Print the updated dictionary
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [28]:
#25 Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
# Create the dictionary
my_dict = {'name': 'Alice', 'city': 'Paris'}

# Check if the key "city" exists in the dictionary
key_exists = 'city' in my_dict

# Print the result
print(key_exists)

True

In [29]:
#26 Write a code to create a list, a tuple, and a dictionary, and print them all
# Create a list
my_list = [1, 2, 3, 4, 5]

# Create a tuple
my_tuple = (10, 20, 30, 40, 50)

# Create a dictionary
my_dict = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}

# Print the list, tuple, and dictionary
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: (10, 20, 30, 40, 50)
Dictionary: {'name': 'Alice', 'age': 30, 'city': 'New York'}

In [33]:
#27 Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random

random_list = random.sample(range(1, 101), 5)

# Sort the list in ascending order
sorted_list = sorted(random_list)

# Print the sorted list
print(sorted_list)

[25, 48, 76, 81, 83]

In [34]:
#28 Write a code to create a list with strings and print the element at the third index.
# Create a list with strings
my_list = ['apple', 'banana', 'cherry', 'date']

# Print the element at the third index (index 2)
third_index_element = my_list[2]

# Print the element
print(third_index_element)

cherry

In [35]:
#29 Write a code to combine two dictionaries into one and print the result.
# Create the dictionaries
dict1 = {'name': 'Alice', 'age': 30}
dict2 = {'city': 'New York', 'country': 'USA'}

# Combine the dictionaries
combined_dict = {**dict1, **dict2}

# Print the combined dictionary
print(combined_dict)

{'name': 'Alice', 'age': 30, 'city': 'New York', 'country': 'USA'}

In [36]:
#30 Write a code to convert a list of strings into a set
# Create a list of strings
my_list = ['apple', 'banana', 'cherry', 'apple']

# Convert the list into a set
my_set = set(my_list)

# Print the set
print(my_set)

{'cherry', 'apple', 'banana'}